h3 Sync Config

div.sync-config-settings-tab
    .row
        .col-md-7
            .form-line
                .header
                    .title Type
                select.form-control(
                    [(ngModel)]='config.store.syncConfig.type',
                    (ngModelChange)='config.save()'
                )
                    option(ngValue='Off') Off
                    option(ngValue='GitHub') GitHub
                    option(ngValue='Gitee') Gitee
                    option(ngValue='GitLab') GitLab

    .row(*ngIf='config.store.syncConfig.type !== "Off"')
        .col-md-7
            .form-line
                .header
                    .title Token
                input.form-control(
                    type='text', 
                    placeholder="token",
                    [(ngModel)]='config.store.syncConfig.token', 
                    (ngModelChange)='config.save()',
                )   
            .form-line
                .header
                    .title Encryption
                    .description Use token to encrypt SSH passwords
                toggle(
                    [(ngModel)]='config.store.syncConfig.encryption',
                    (ngModelChange)='config.save()',
                )
            .form-line
                .header
                    .title Auto sync
                    .description Auto sync every n seconds
                input.form-control(
                    type='number',
                    placeholder="seconds",
                    [(ngModel)]='config.store.syncConfig.autoSyncIntervalSec',
                    (ngModelChange)='config.save()',
                )
                toggle(
                    [(ngModel)]='config.store.syncConfig.autoSync',
                    (ngModelChange)='autoSync(config.store.syncConfig.autoSyncIntervalSec)',
                )
            .form-line
                .header
                    .title Gist
                .input-group
                    input.form-control(
                        type='text', 
                            placeholder="use existing gist id or auto generate gist id",
                            [(ngModel)]='config.store.syncConfig.gist', 
                            (ngModelChange)='config.save()',
                    )
                    .input-group-append(*ngIf='config.store.syncConfig.type !== "Gitee"')
                        button.btn.btn-secondary(
                            (click)='viewGist()',
                            [disabled]="config.store.syncConfig.gist === null || config.store.syncConfig.gist.toString().trim() === ''",
                            )
                            i.fa.fa-fw.fa-eye

            .form-line
                button.btn.btn-outline-primary.mr-3(
                    (click)='sync(true)',
                    [disabled]='isUploading || isDownloading',
                )
                    div.fa.fa-fw.fa-upload(*ngIf='!isUploading')
                    div.fa.fa-cog.fa-spin(*ngIf='isUploading')
                    span.ml-2 Upload config
                .mt-3.d-sm-none
                button.btn.btn-outline-warning(
                    (click)='sync(false)',
                    style={'margin-right':'10px'},
                    [disabled]='isUploading || isDownloading',
                ) 
                    div.fa.fa-cog.fa-spin(*ngIf='isDownloading')
                    div.fa.fa-fw.fa-download(*ngIf='!isDownloading')
                    span.ml-2 Download config
            .form-line
                p.text-white(*ngIf='isUploading || isDownloading') Syncing
                p.text-white(*ngIf='!(isUploading || isDownloading)') Last sync time : {{ config.store.syncConfig.lastSyncTime }}
